<div id="background">
  <div class="wrapper_skinny home_banner">
    <h1>Discover your new favorite <br>podcast, or create your own.</h1>
    <%= link_to "Create A Podcast", new_podcast_registration_path, class: "button button_highlight" %>
    <a href="podcasts.html" class="button button_white">Explore</a>
  </div>
</div>
