#podcast_show {
  .show_banner {
    background: $dark;
    text-align: center;
    padding: 5rem 0;
    .podcast_title {
      font-size: 2.5rem;
      font-weight: 300;
      color: $white;
      margin: 0 0 .5rem 0;
    }
    .description {
      width: 90%;
      line-height: 1.75;
      margin: 0 auto 2rem;
      color: lighten($dark, 20%);
    }
    .subscribe_link {
      font-size: .6rem;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      color: $white;
      display: inline;
      background: $highlight;
      border-radius: 2rem;
      padding: .5rem 1rem;
      margin: 0 .5rem;
      &:hover {
        background: darken($highlight, 10%);
      }
    }
  }
  .breadcrumb {
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid lighten($dark, 75%);
    font-weight: 700;
    font-size: .7rem;
    a {
      color: lighten($dark, 45%);
      text-decoration: none;
    }
    span {
      margin: 0 .5rem;
    }
  }
  .episode_content {
    padding: 4rem 0;
    margin-bottom: 4rem;
    border-bottom: 1px solid lighten($dark, 75%);
    .current_episode_thumbnail {
      display: block;
      margin: 0 auto 2rem;
      width: 10rem;
      max-width: 100%;
      border-radius: .35rem;
    }
    .current_title {
      font-size: 1.5rem;
      text-align: center;
    }
    .description {
      text-align: center;
      line-height: 1.7;
      font-size: .9rem;
      color: lighten($dark, 25%);
    }
  }
  .links{
    padding: 2rem 0;
    ul {
      list-style: none;
      padding: 1rem 0;
      margin-bottom: 1rem;
      border-bottom: 1px solid lighten($dark, 75%);
      li {
        display: inline;
        margin-right: 1rem;
        font-weight: 700;
        a {
          color: $dark;
          text-decoration: none;
          &:hover {
            color: $highlight;
          }
        }
      }
      .current {
        color: $highlight;
      }
    }
  }
  .episodes {
    padding: 3rem 0;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding-bottom: 2rem;
        border-bottom: 1px solid lighten($dark, 75%);
        margin-bottom: 2rem;
        &:last-child {
          border-bottom: none;
        }
        .episode_thumbnail {
          width: 22%;
          float: left;
          img {
            width: 10rem;
            max-width: 100%;
            border-radius: .35rem;
          }
        }
        .episode_overview {
          width: 76.5%;
          float: left;
          margin-left: 1.5%;
          a {
            color: $dark;
            text-decoration: none;
          }
          .description {
            color: lighten($dark, 25%);
          }
          .authorized_links {
            font-size: .8rem;
            font-weight: 700;
            a {
              color: $highlight;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}
